@import "./variables.scss";
@import "./responsive.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  font-family: "Inter", sans-serif;
  background-color: $main-bg;
  color: $main-color;
  width: 100%; // Ensures it spans the full width
  height: 100vh; // Occupies full viewport height
  display: flex; // Makes it flexible for alignment
  flex-direction: column; // Optional for vertical stacking if needed
}

.container {
  display: flex; // Side-by-side layout
  flex: 1; // Ensures the container stretches to occupy remaining space
  overflow: auto; // Adds scrolling if content overflows
  color: $main-color;
}

.menuContainer {
  width: 250px; // Fixed width for the menu
  padding: 5px 20px;
  border-right: 2px solid $soft-bg;

  @include lg {
    width: max-content; // Adjust width for larger screens
  }
}

.contentContainer {
  flex: 1; // Takes up the remaining space
  padding: 20px; // Adjust padding for better readability
  min-width: 0; // Prevents content from overflowing
  overflow-x: auto; // Horizontal scrolling for wide content
  overflow-y: auto; // Vertical scrolling
  background-color: $main-bg; // Optional background color for better contrast
}
